* {box-sizing: border-box;}

html,body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: 'ZCOOL XiaoWei', serif;
}
.loginbar {
    overflow: hidden;
    background-color: #e9e9e9;
    
}
.channel {
    height: 100%;
    width: 15em; 
    position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
    background-color: rgb(91, 116, 122); 
    overflow-x: hidden;
    padding-top: 1.25em;
}
header{
    color:whitesmoke;
    margin-top: -1.5rem;
    height: 4em;
    text-align: center;
    background-color: darkcyan;
    
}
header h1 {
    padding-top: 0.6em;
}
header h2 {
    padding-top: 0.6em;
}
.user_login{
    box-align: center;
    justify-items: center;
    border: 1px solid gray;
    width: 50%;
    height: auto;
    margin-left: 18em;
    margin-top: 5em;
}
.user_login label{
    padding: 0.3em;
    margin-top: 0.4em;
    font-size: 1em;
}
.user_login input[type=text], input[type=password] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.user_login button {
    background-color: #4CAF50;
    color: white;
    
    padding: 14px 20px;
    
    margin: 8px 0;
    margin-left: 0.8em;
    border: none;
    cursor: pointer;
    width: 30%;
    
}
.channel_list input[type=text]{
    padding: 12px 20px;
    margin: 8px 0;
    margin-left: 20px;
    padding-left: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.channel_list button{
    background-color: darkcyan;
    color: white;
    font-size: 1em;
    padding: 12px 20px;
    margin: 8px 0;
    margin-left: 20px;
    padding-left: 10px;
    border: none;
    cursor: pointer;
    width: auto;
}
.channel_container {
    padding-top: 1em;
}

.channel .channel_list :hover{
    overflow-y: scroll;
}
li {
    list-style-type: none;
    cursor: pointer;
    padding-bottom: 1em;
    font-size: 1.5em;


}
.message_sent {
    width: 67%;
    height: 10%;
    margin-right: 1em;
    /* margin: 8px 0; */
    margin-left:18em; 
    /* padding-bottom: 2em; */
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
#send {
    padding: 0.6em;
    height: 9%;
    background-color: darkcyan;
    color: white;
    font-size: 1.5em;
    border: none;
    cursor: pointer;
    width: 10%;
    margin-bottom: 1em;
}
a {
    text-decoration-style: none;
    color: black;
}
.active {
    background-color: whitesmoke;
    font-weight: bold;
}
.messages {
    height:70%;
    width: 75%;
    margin-left:16.8em; 
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding-left: 1em;
}
.message-box {
    padding: 2em;
}
#message_container {
    display: none;
}
.sent_message {
    font-size: 1.3em;
}
.sent-by {
    float: right;
}


@media only screen and (min-width:680px) {
    .messages {
        width: 55%;
    }
    .message_sent {
        width: 50%;
        height: 10%;
        margin-right: 0.5em;
        /* margin: 8px 0; */
        margin-left:18em; 
        /* padding-bottom: 2em; */
        display: inline-block;
       
    }
    #send {
        padding: 0.6em;
              
        font-size: 1.5em;
         width: 10%;
        margin-bottom: 1em;
    }
}
